<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Subir Archivo</title>
</head>
<body>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="archivo" required>
        <input type="submit" value="Subir">
    </form>
    <h2>Archivos subidos</h2>
    <ul>
        {% for file in files %}
        <li>
            {{ file }}
            <form action="/delete/{{ file }}" method="post" style="display:inline;">
                <button type="submit">Eliminar</button>
            </form>
        </li>
        {% endfor %}
    </ul>
</body>
</html>
